*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}

/* Main Navbar-Start*/
.main-top {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
.nav-link {
  color:#6a708e;
}
.nav-link:hover {
  color: brown;
  border-bottom: 3px solid brown;
}
/* Main Navbar-End */