*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}

/* Main Navbar-Start*/
.header {
  position: fixed;
  top: 10;
  left: auto;
  right: auto;
  z-index: 100;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);

}
.main-top {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
.toggle-icon{
  color: #6a708e;
  border: 1px solid #6a708e;
  padding: 10px;
  border-radius: 5px;
  
}
.nav.navbar.bootsnav {
  border-bottom: transparent;
  box-shadow: 0 3px 15px rgba(0,0,0,.2);
}
.nav-link {
  color:#6a708e;
}
.nav-link:hover {
  color: brown;
  border-bottom: 3px solid brown;
}
.brand-logo {
  width: 100px;
  height: 100px;
}
/* Main Navbar-End */
/* WelcomeScreen Start */
#main-screen {
  align-items: center;
  background-size:cover;
  background: url("./components/images/main-bg.jpg");
  background-position: center;
  height: 890px;
  justify-content: center;
  position: relative;
}
.header-text {
  position: relative;
  top: 200px;
  color: #fff;
}
.header-text h2 {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  width: 500px;
  margin: 0 auto;
  font-size: 2rem;
  line-height: 1.5;
}
.header-text h3 {
  line-height: 1.5;
  margin: 40px 0;
  font-size: 1.6rem;
  font-weight: 800;
}
.header-text a {
  text-decoration: none;
  color: #fff;
  width: 200px;
  font-size: 1.5rem;
  padding: 20px;
  background-color: brown;
  border-radius: 5px;
  position: relative;
  top: 50px;
}
.header-text a:hover {
  background-color: #fff;
  color: brown;
  font-weight: 800;
}

/* Welcomescreen End */
/* About Section Start */
#about {
  padding: 50px 0 100px;
}

.section-heading-text {
  text-align: center;
}
.section-heading-text h2 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 0 50px 0;
  border-bottom: 1px solid #6a708e;
}
.about-content {
  padding: 100px 0 0 0;
}
.single-about-txt h3 {
  color: #3C4258;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  line-height: 1.8;
}
.single-about-txt > p {
  text-align: justify;
  font-size: 18px;
  padding: 35px 0 43px ;
  font-family: 'Poppins', sans-serif;
  color: #6a708e;
  border-bottom: 1px solid #6a708e;
  line-height: 1.8;
}
.single-about-add-info {
  color: #6a708e;
  margin: 30px 0;
  font-size: 16px;
  font-family:'Poppins', sans-serif;
}
.single-about-img{
  position: relative;
  box-shadow: 0 5px 20px rgba(14,25,80,.30);
}
.single-about-img:before {
    /* position:  absolute; */
    content: " ";
    top: 0;
    left:  0;
    width: 109%;
    height:  100%;
}
.single-about-img img {
  max-width: 100%;
  height: 600px;
}
.about-list-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: brown;
}
/*.ab-list-icon */
.about-list-icon ul {
  display: flex;
  list-style: none;
}
.about-list-icon  ul li a {
  padding-right: 22px;
  cursor:pointer;
  color: #fff;
}
.about-list-icon ul li a {
  cursor: pointer;
  color: #fff;
  display: inline-block;
  border: 2px solid;
  margin-left: 20px;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
}
.about-list-icon ul li a i {
  margin: 0 4px 0 3px;
  font-size: 24px;                                                                                                                                                                                                            
}
.about-img {
  margin: 0 2px 0 8%;
}
/*About Section End  */
/* Education Section Start */
#education-section {
  background-color: #f9fbfd;
  padding: 50px 0 0 0;
}
.education-main-contentbox {
  padding: 80px 0;
}
.duration-time h2 {
  color: #212529;
  font-family: 'Poppins',sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
.duration-time h3 {
  color: #636a82;
  font-weight: 300;
  font-size: 16px;
  margin: 14px 0 0 0;
  text-transform: capitalize;
}
.duration-time-border {
  display: flex;
  align-items: center;
  padding: 26px 0 30px;
}
.duration-time-border i {
  font-size: 10px;
  color: brown;
  margin: 0 5px 0 0;
}
span.single-timeline-horizontal {
  display:  inline-block;
  background: #b2c1ce;
  height:  1px;
  width: 380px;
}
.institute-content h4.title {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}
.institute-content h5 {
  color: #636a82;
  font-size: 16px;
  font-weight: 400;
}
.institute-content p.description {
  font-size: 16px;
  color: #636a82;
  text-align: justify;
}
/* Education section End */
/* Skill Section Start */
.skill-content {
  padding: 50px 0 80px;
}
.single-skill-content {
  padding: 100px 0 0 0;
}
.barwrapper {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
.single-progress-text {
  display: flex; 
}
.progress {
  border-radius: 3px;
  overflow: visible;
  background: #e6ecf3;
  height: 8px;
  margin-top: 15px;
  width: 85%;
  margin-bottom: 37px;
}
.single-progress-text h3 {
  width: 10%;
  color: brown;
  position: relative;
  top: 5px;
  left: 20px;
  font: 16px 'Poppins',sans-serif;
}
.progress-bar {
  background: brown;
  border-radius: 3px;
 
}

/* Skill Section End */
/* Experience-Section Start */
.experience-container {
  display: flex;
  width: 1110px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 0;
}
.experience-content {
  width: calc(1110px / 3);
  text-align: center;
  /* display: flex; */
  justify-content: center;
}
.experience-logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.experience-logo img {
  width: 100%;
  height: 100%;
}
/* Experience-Section End */